@model IEnumerable<MakelaarLeaderboard.Models.LeaderboardViewModel>

@{
    ViewData["Title"] = "Top 10 - With Tuin";
}

<h3>Top 10 Makelaar owns most houses in Amsterdam that has a tuin</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            #
        </th>
        <th scope="col">
            Makelaar Id
        </th>
        <th scope="col">
            Makelaar Naam
        </th>
        <th scope="col">
            Number of Houses with Tuin
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (index, item) in Model.Index())
    {
        <tr>
            <th scope="row">@(index + 1)</th>
            <td>
                @Html.DisplayFor(modelItem => item.MakelaarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakelaarNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousesCount)
            </td>
        </tr>
    }
    </tbody>
</table>
